#home-container {
    margin-top: 20px;

    #info-section {
        p {
            font-size: 18px;
        }
    
        a {
            color: #1a6bdb;
        }
    }

    .line {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}