#home-container {
    margin-top: 20px;

    #info-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 10vh;
        margin-left: 5vw;
        margin-bottom: 100px;

        p {
            font-size: 18px;
            margin-bottom: 0px;
        }

        h1 {
            font-size: 54px;
            font-weight: 900;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        #text-section {
            margin-top: 10px;

            h3 {
                font-weight: normal;
                margin-top: 0px;
                margin-bottom: 7px;
                color: grey;
                line-height: 25px;
            }
        }
    }

    .line {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @media only screen and (max-width: 500px) {
        .button-container {
            margin-bottom: 80px;
        }
    }
}