#contact-container {
    margin: 5vh 2vw;

    #link-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: -10px;
        margin-right: -10px;

        div {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}