#about-container {
    margin: 5vh 2vw;

    img {
        width: 250px;
    }

    #list-header {
        margin-bottom: 8px;
    }

    ul {
        list-style-type: circle;
        margin-top: 0px;
        width: 300px;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        li {
            margin-bottom: 5px;
        }
    }

    #image-container {
        img {
            border-radius: 10px;
            margin-right: 20px;
            margin-bottom: 20px;
            width: 200px;
            opacity: 0; 
            transition: opacity 0.3s; 
        }

        img:hover {
            cursor: pointer;
        }

        .image-loaded { 
            opacity: 1; 
        }
    }

    @media only screen and (max-width: 500px) {
        ul {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
            width: auto;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: -10px;
        }

        #image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}